.tooltip {
  position: absolute;
  visibility: hidden;
  background-color: white;
  border: 1px solid #d3d3d3;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none; /* Prevents tooltip from interfering with mouse events */
}
